@page "/"

<h1>Hello, LOGiiN, LDA</h1>

Instructions for using the program
<br />

<ul>
    <li>Public Route: Register and Login</li>
    <li>Private Route: GridEmplooye</li>
    <li>First you need to register and then login to access the GridEmployee page</li>
    <li>After validating the login, you can make the employee CRUD</li>
</ul>